
@{
    ViewBag.Title = "HomeGioHang";
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}

@using DoAnLAPTRINHWEB_Nhom15.Models;
@model List<GioHang>
<style>
    .thongtin input{
        font-size:1.1rem;
    }
    .thongtin select{
        width:100%;
        height:3rem;
        font-size:1.1rem;
    }
</style>
<div>
    @if (Model.Any())
    {
        <table>
            <tr>
                <th>Sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th>Thao tác</th>
            </tr>
            @{
                double sum = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="cart-info">
                            <div class="checksp">
                                <input type="checkbox" checked="checked">
                            </div>
                            <img src="~/Areas/Admin/Content/img/IMG_Product/IMG_Product1/@item.Anh">
                            <div>
                                <p>@item.TenSanPham</p>
                            </div>
                        </div>
                    </td>
                    <td>@item.Gia VNĐ</td>
                    <form action="/HomePage/UpdateSoLuongGH?MaSP=@item.MaSanPham" method="post">
                    <td><input type="number" value="@item.SoLuong" min="1" name="SoLuong"></td>

                    <td>@item.ThanhTien VNĐ</td>
                    <td>
                        <a href="/HomePage/DeleteGioHang?MaSP=@item.MaSanPham"><i class="fa-solid fa-trash-can"></i> </a>
                        <button class="btn" type="submit"> <i class="fa-solid fa-rotate"></i></button>
                    </td>

                    </form>
                </tr>
                sum += item.Gia * item.SoLuong;
            }
            <tr style="font-size:20px">
                <td style="padding-left:5%;padding-right:10%" colspan="3"><b>TỔNG THÀNH TIỀN</b> </td>
                <td style="padding-right:2%; color:red " colspan="2"><b>@sum VNĐ</b> </td>
            </tr>
        </table>

    }
    else
    {
        <h2 style="text-align:center;padding:3rem 0;">GIỎ HÀNG CỦA BẠN ĐANG TRỐNG</h2>
    }
</div>

<div class="button-giohang">
    <a href="/HomePage/HomeProduct"><button class="button1"> &#8592; tiếp tục xem sản phẩm</button></a>
    <a href="/HomePage/HomeGioHang"><button class="button2">cập nhật giỏ hàng</button></a>
</div>

@if (Model.Any())
{
    <div class="httt">
        <h2>Thanh toán</h2>
        <div class="tabs">
            <button class="tablinks active" data-electronic="allproducts">Hóa đơn thanh toán</button>
            <button class="tablinks" data-electronic="Microcontrollers">
                xác nhận thông tin <span>người dùng</span>
            </button>
            <button class="tablinks" data-electronic="module">hình thức thanh toán</button>
        </div>

        <!-- Tab content -->
        <form action="/HomePage/DatHang" method="post">
            <div class="contentt">
                <div id="allproducts" class="tabcontent active">
                    <div class="thanhtoan">
                        <div class="thanhtoan-tieude">
                            <p>Mã Hóa đơn</p>
                            <p>giá tiền</p>
                        </div>
                        <div class="spthanhtoan">
                            <div class="spthanhtoan-text">
                                @foreach (var item in Model)
                                {
                                    <p>@item.TenSanPham <span>x @item.SoLuong</span></p>
                                }

                            </div>
                            <div class="spthanhtoan-tien">
                                @foreach (var item in Model)
                                {
                                <p>@item.ThanhTien VNĐ</p>
                                }
                            </div>
                        </div>
                        <div class="tienthanhtoan spthanhtoan">
                            <h4>Chi phí vận chuyển</h4>
                            <p>0 VNĐ</p>
                        </div>
                        <div class="phieugiangia spthanhtoan">
                            <h4>Voucher</h4>
                            <a href="#">Chọn Voucher</a>
                        </div>
                        <div class="tongtien-sp thanhtoan-tieude spthanhtoan">
                            @{
                                double sum = 0;
                            }
                            <h4>Tổng thanh toán</h4>
                            @foreach (var item in Model)
                            {
                                sum += item.Gia * item.SoLuong;
                                
                            }
                        <p>@sum VNĐ</p>
                        </div>
                    </div>
                </div>

                <div id="Microcontrollers" class="tabcontent">
                    <div class="dangky">
                        <p>Địa Chỉ <a style="color:red" href="/HomePage/DiaChi">Tùy Chỉnh</a></p>
                        <p style="color:red">@ViewBag.LoiDiaChi</p>
                        <div class="thongtin">

                            @*<input type="text" placeholder="Địa chỉ giao hàng" name="ChiTietDiaChi">*@
                            <select name="ChiTietDiaChi" >
                                <option value="@ViewBag.DiaChi" selected>@ViewBag.DiaChi</option>
                                <option value="@ViewBag.DiaChi2">@ViewBag.DiaChi2</option>
                            </select>
                        </div>
                        <div class="thongtin">
                            <input type="text" name="HoTen" placeholder="Họ và tên" value="@ViewBag.HoTen">
                        </div>

                        <div class="thongtin">
                            <input type="text" name="SoDienThoai" placeholder="Số điện thoại" value="@ViewBag.SoDT">
                        </div>
                        <div class="luuthongtin">
                            <input type="checkbox">Lưu thông tin người dùng
                        </div>
                    </div>
                </div>

                <div id="module" class="tabcontent">
                    <div class="vidientu">
                        <div class="vidientu-img">
                            <input type="radio" name="thanhtoan" id="vi" value="1" checked>
                            <div>
                                <img src="~/Content/User/image//momo.png" alt="">
                                <img src="~/Content/User/image//zalopay.png" alt="">
                                <img src="~/Content/User/image//vnpay.png" alt="">
                            </div>
                            <p>Ví điện tử</p>
                        </div>
                        <div class="vidientu-img">
                            <input type="radio" id="the" name="thanhtoan" value="2">
                            <div>
                                <i class="fa fa-money-check-dollar"></i>
                            </div>
                            <p>thẻ nội địa / thẻ ghi nợ / thẻ atm</p>
                        </div>
                        <div class="vidientu-img">
                            <input type="radio" id="tructiep" name="thanhtoan" value="3">
                            <div>
                                <i class="fa fa-money-bill"></i>
                            </div>
                            <p>thanh toán khi nhận hàng</p>
                        </div>
                        <div class="vidientu-button">
                            <a href="#"><button>Thanh toán ngay</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}



