
@{
    ViewBag.Title = "showDonHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using DoAnLAPTRINHWEB_Nhom15.Areas.Admin.Models;
@model List<DonHang>

<style>
    div .product {
        display: flex;
        text-align: center;
    }

    .form_search_product {
        width: 15rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        margin-right: 20px;
        border-radius: 5px;
    }

        .form_search_product input {
            border: 1px solid black;
            width: 10rem;
            border-radius: 5px;
            height: 2.5rem;
        }

    .tb {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .cnsp a {
        text-decoration: none;
        color: #fff;
    }



    .tb td {
        width: 20rem;
    }

    center {
        padding-top: 20px;
    }

        center p {
            text-transform: uppercase;
            color: blue;
            border-bottom: 2px solid black;
        }

    .TC button {
        margin-bottom: 10px;
        padding: 5px;
        height: 2.2rem;
    }

    .btn_TC {
        width: 4rem;
        text-align: center;
        border: none;
    }

        .btn_TC a {
            color: #fff;
            text-decoration: none;
        }

    .btn_delete {
        background: #d01919;
        color: #fff;
        border-radius: 5px;
    }

        .btn_delete:hover {
            background: red;
        }

    .btn_edit {
        background: #1b2f9d;
        color: #fff;
        font-size: 1.1rem;
        border-radius: 5px;
    }

        .btn_edit:hover {
            background: blue;
        }

    .main {
        margin-left: 2rem;
    }
</style>
<div class="main"> 
    @if (Model.Any())
    {
        <div class="main_dh">
            <h2 style="text-align:center">THÔNG TIN TẤT CẢ ĐƠN HÀNG</h2>

            <button class="btn btn-primary cnsp"><a href="/HomePage/ShowDonHangByTenDN">RESET ĐƠN HÀNG</a></button><br /><br />
            <div class="product">
                <table class="table table-bordered table-responsive tb">
                    <tr>

                        <th>Tên ĐN</th>
                        <th>Ngày Đặt</th>
                        <th>Họ Tên</th>
                        <th>Số Điện Thoại</th>
                        <th>CT Địa Chỉ</th>
                        <th>Tổng Giá Trị</th>
                        <th>Thanh Toán</th>
                        <th>Trạng Thái</th>
                        <th>Tùy Chỉnh</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <form action="/Admin/HomeAdmin/updateTrangThaiDonHang?MaDH=@item.MaDonHang" method="post">

                            <td>@item.TenDN</td>
                            <td>@item.NgayDat</td>
                            <td>@item.HoTen</td>
                            <td>@item.SoDienThoai</td>
                            <td>@item.ChiTietDiaChi</td>
                            <td>@item.TongGiaTri VNĐ</td>
                            <td>@item.HinhThucThanhToan</td>
                            <td>@item.TrangThai</td>
                            <td>
                                <div class="TC">
                                    <button class="btn_TC btn_edit">
                                        <a class="tc" href="/HomePage/ShowCTDonHangByTenDN?MaDH=@item.MaDonHang">Detail</a>
                                    </button>
                                    <button class="btn_TC btn_delete">
                                        <a class="tc" href="/HomePage/DeleteDonHangByTenDN?MaDH=@item.MaDonHang">Delete</a>
                                    </button>
                                    @*<button class="btn_TC btn_edit" type="submit">Update</button>*@
                                </div>
                            </td>
                        </form>
                    </tr>
                    }
                </table>
            </div>
            <p style="text-align:center;color:red;text-transform:uppercase;">Tổng Đơn Hàng: @ViewBag.TongDH</p>
        </div>
    }
    else
    {
        <h2 style="color:red;margin:auto;font-size:2rem;text-transform:uppercase;">Không có đơn hàng nào!</h2>
    }
</div>




