@{
    ViewBag.Title = "ShowDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using DoAnLAPTRINHWEB_Nhom15.Areas.Admin.Models;
@model List<DonHang>

<style>
    div .product {
        display: flex;
        text-align: center;
    }

    .search_dh {
        width: 8rem;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        margin-right: 20px;
        border-radius: 5px;
    }

        .search_dh input {
            border: 1px solid black;
            width: 6rem;
            border-radius: 5px;
            height: 2.5rem;
        }

    .tb {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
    .cnsp a {
        text-decoration: none;
        color: #fff;
    }



        .tb td {
            width: 20rem;
        }

    center {
        padding-top: 20px;
    }

        center p {
            text-transform: uppercase;
            color: blue;
            border-bottom: 2px solid black;
        }
        .TC button{
            margin-bottom:10px;
            padding:5px;
        }
    .btn_TC {
        width: 4rem;
        text-align: center;
        border: none;
    }

        .btn_TC a {
            color: #fff;
            text-decoration: none;
        }

    .btn_delete {
        background: #d01919;
        color: #fff;
        border-radius: 5px;
    }

        .btn_delete:hover {
            background: red;
        }

    .btn_edit {
        background: #1b2f9d;
        color: #fff;
        border-radius: 5px;
    }

        .btn_edit:hover {
            background: blue;
        }
</style>
<div>
    <h2 style="text-align:center">THÔNG TIN TẤT CẢ ĐƠN HÀNG</h2>
    <button class="btn btn-primary cnsp"><a href="/Admin/HomeAdmin/ShowDonHang">RESET ĐƠN HÀNG</a></button><br /><br />
    <div class="product">
        <form action="/Admin/HomeAdmin/ShowDonHang" method="post" class="form_search_product search_dh">
            <center style="padding-bottom:20px;">
                <p>Search ĐƠN HÀNG</p>
                <label>Mã Đơn hàng</label>
                <input type="text" name="txtMaDH" value="@ViewBag.txtMaDH" /><br /><br />
                <button type="submit" class="btn btn-primary">SEARCH</button>
            </center>
        </form>

        <table class="table table-bordered table-responsive tb">
            <tr>
                <th>Mã Đơn Hàng</th>
                <th>Tên Đăng Nhập</th>
                <th>Ngày Đặt</th>
                <th>Email</th>
                <th>Họ Tên</th>
                <th>Số Điện Thoại</th>
                <th>Chi Tiết Địa Chỉ</th>
                <th>Tổng Giá Trị</th>
                <th>Hình Thức Thanh Toán</th>
                <th>Trạng Thái</th>
                <th>Tùy Chỉnh</th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <form action="/Admin/HomeAdmin/updateTrangThaiDonHang?MaDH=@item.MaDonHang" method="post">
                    <td>@item.MaDonHang</td>
                    <td>@item.TenDN</td>
                    <td>@item.NgayDat</td>
                    <td>@item.Email</td>
                    <td>@item.HoTen</td>
                    <td>@item.SoDienThoai</td>
                    <td>@item.ChiTietDiaChi</td>
                    <td>@item.TongGiaTri</td>
                    <td>@item.HinhThucThanhToan</td>
                    <td>
                        <select name="TrangThai">
                            <option value="" selected>@item.TrangThai</option>
                            <option value="Đang xử lý">Đang xử lý</option>
                            <option value="Đã xác nhận">Đã xác nhận</option>
                            <option value="Đang giao">Đang giao</option>
                            <option value="Đã giao">Đã giao</option>
                        </select>
                    </td>
                    <td>
                        <div class="TC">
                            <button class="btn_TC btn_edit">
                                <a class="tc" href="/Admin/HomeAdmin/ShowChiTietDonHang?MaDonHang=@item.MaDonHang   ">Detail</a>
                            </button>
                            <button class="btn_TC btn_delete">
                                <a class="tc" href="/Admin/HomeAdmin/deleteDonHangAmin?MaDH=@item.MaDonHang">Delete</a>
                            </button>
                            <button class="btn_TC btn_edit" type="submit">Update</button>
                        </div>
                    </td>
                </form>
            </tr>
            }
        </table>
    </div>
    <p style="text-align:center;color:red;text-transform:uppercase;">Tổng Đơn Hàng: @ViewBag.TongDH</p>
</div>



